
<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />
	<script type="text/javascript">
		var mmcSlideshow_{cObjData.uid} = new MmcSlideshow();

		mmcSlideshow_{cObjData.uid}.preloadImagesCount = {settings.preloadImagesCount};
		mmcSlideshow_{cObjData.uid}.imageContainerId = 'image-container-{cObjData.uid}';
		mmcSlideshow_{cObjData.uid}.totalImagesCount = {totalImagesCount};

		mmcSlideshow_{cObjData.uid}.sequences = [
			<f:for each="{sequences}" as="sequence" iteration="sequenceIt">
			 <f:if condition="{sequenceIt.isFirst}==0">,</f:if>
			 {<f:format.raw>
			 		imageWidth: {sequence.imageWidth},
			 		imageHeight: {sequence.imageHeight},
			 		animation: {sequence.animation},
			 		sequenceRepeat: {f:if(condition: '{sequence.sequenceRepeat}', then: 'true', else: 'false')},
			 		repeatCount: {sequence.repeatCount},
			 		animateDuration: {sequence.animateDuration},
			 		imageDisplayTime: {sequence.imageDisplayTime},
			 		imageList: [
						<f:for each="{sequence.imagesArray}" as="image" iteration="imageIt">
							<f:if condition="{imageIt.isFirst}==0">,</f:if>
							{<f:format.raw>
								url: '<f:uri.image
									image="{image}"
									width="{f:if(condition: '{sequence.imageWidth}', then: '{sequence.imageWidth}c')}"
									height="{f:if(condition: '{sequence.imageHeight}', then: '{sequence.imageHeight}c')}"
								/>',
								title: '{image.originalResource.title}',
								description:  '{image.originalResource.description}'
								</f:format.raw>}
						</f:for>
					]
					</f:format.raw>}
			</f:for>
		];

		$(document).ready(function(){
			<f:format.raw>
			mmcSlideshow_{cObjData.uid}.initialize();
			mmcSlideshow_{cObjData.uid}.play();
			</f:format.raw>
		});
	</script>

	<div id="image-container-{cObjData.uid}">
		<f:if condition="{sequences.0.imagesArray.0}">
			<f:image
				image="{sequences.0.imagesArray.0}"
				width="{f:if(condition: '{sequences.0.imageWidth}', then: '{sequences.0.imageWidth}c')}"
				height="{f:if(condition: '{sequences.0.imageHeight}', then: '{sequences.0.imageHeight}c')}"
				alt="{sequences.0.imagesArray.0.originalResource.title}"
				title="{sequences.0.imagesArray.0.originalResource.description}"
			/>
		</f:if>
	</div>

</f:section>
